<% content_for (:html_title) {"Users"} %>

<div class="content">
  <h1>Users</h1>

  <table class="table">
    <thead>
    <tr>
      <th><abbr title="Username"></abbr>Username</th>
      <th><abbr title="# pages created"></abbr># pages created</th>
      <th><abbr title="# places liked"># places liked</abbr></th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <th>
          <%= link_to user.username, user %>
        </th>
        <td>
          <%= user.created_places.length %>
        </td>
        <td>
          <%= user.user_places.length %>
        </td>
      </tr>
    <% end %>

    </tbody>
  </table>

  <div class="columns">
    <div class="column is-two-thirds">
    </div>
    <div class="column">
      <%= paginate @users %>
    </div>
  </div>

</div>