<% content_for (:html_title) {"Places"} %>

<div class="content">

  <h1>Places</h1>
  <table class="table">
    <%= render 'header' %>
    <tbody>
    <%= render @places %>
    </tbody>
  </table>
  <div class="columns">
    <div class="column is-two-thirds">
    </div>
    <div class="column">
      <%= paginate @places %>
    </div>
  </div>
</div>

